%h1 Your items:

- pn = params[:page_number].to_i
- mp = params[:max_pages].to_i

.item__list
  - if mp == 0
    %div.item__single
      %strong You don't have any items yet!
  -else
    - @items.each do |item|
      %div.item__single
        %strong Name:
        = item.name
        %br
        %strong Category:
        = item.category
        %br
        %strong Price:
        = number_to_currency(item.price_in_cents / 100)
        %br

.item__pageNav
  - if mp < 5
    - i = 1
    - mp.times do |n|
      %a{ href: "/items_page/#{pn + i}", class: "item__pageNums" }
        ="#{pn + i}"
      - i += 1
  - elsif pn <= 3 && pn < mp - 2
    - i = 1
    - 5.times do |n|
      %a{ href: "/items_page/#{i}", class: "item__pageNums" }
        ="#{i}"
      - i += 1
  - elsif pn > 3 && pn < mp - 2
    - i = -2
    - 5.times do |n|
      %a{ href: "/items_page/#{pn + i}", class: "item__pageNums" }
        ="#{pn + i}"
      - i += 1
  - elsif pn >= mp - 2
    - i = -4
    - 5.times do |n|
      %a{ href: "/items_page/#{mp + i}", class: "item__pageNums" }
        ="#{mp + i}"
      - i += 1
  - else
    - i = 0
    - 5.times do |n|
      %a{ href: "/items_page/#{pn + i}", class: "item__pageNums" }
        ="#{pn + i}"
      - i += 1
